.page__wrapper {
	display: grid;
	min-height: 100vh; // important to be able to drop tiles
	grid-template-rows: max-content max-content auto;
	row-gap: 1.6rem;
}

.title__wrapper {
	display: grid;
	grid-auto-flow: column;
	padding: 0 1.6rem;
	margin: 1.6rem 0;
	align-items: center;
	row-gap: 1.6rem;
	column-gap: 1.6rem;

	& .project__name {
		display: flex;
		max-width: max-content;
		justify-self: center;
		column-gap: 1.6rem;
		align-items: center;

		& h1 {
			font-weight: 400;
		}
	}

	& .dashboard-link {
		justify-self: flex-end;
	}

	@media (min-width: $xxsmall) {
		& > input {
			grid-row: unset;
			grid-column: unset;
		}
	}
}

.tasks__wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 0 1.6rem;
	column-gap: 0.8rem;
	margin-bottom: 3.2rem;

	@media (max-width: 500px) {
		display: flex;
		flex-direction: column;
	}
}

.task__column--wrapper {
	& h3 {
		display: flex;
		column-gap: 0.8rem;
		justify-content: center;
		align-items: center;
		color: var(--primary);
		width: 100%;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 400;
		padding: 0.8rem 0;

		& span {
			display: grid;
			place-content: center;
			width: 2.4rem;
			height: 2.4rem;

			& i {
				padding: 0.4rem;
			}
		}

		& i:hover {
			color: var(--secondary);
			background: var(--primary);
			border-radius: 50%;
			cursor: pointer;
		}
	}
}

.task__column {
	display: grid;
	row-gap: 1.6rem;
	// height: 100%;
	align-content: flex-start;

	& .task__tile {
		display: grid;
		position: relative;
		align-items: center;
		column-gap: 1.6rem;
		// background: var(--secondary);
		background: white;
		// border: 1px solid var(--primary);
		border: none;

		box-shadow: var(--elevation-3);
		border-radius: 0.4rem;
		height: 100%;
		width: 100%;
		margin: auto;
		cursor: pointer;

		&.current {
			outline: 2px solid var(--teal100);
		}

		&.todays_task {
			outline: 2px solid var(--teal400);
			outline-offset: 2px;
		}

		& div.wrapper {
			position: relative;
			overflow: hidden;
			display: grid;
			padding: 1.6rem;
			row-gap: 0.4rem;
			border-radius: 0.3rem;
		}

		& div.name {
			color: var(--primary);
		}

		& div.description {
			position: relative;
			color: var(--primary);
			font-size: 1.4rem;
			overflow: hidden;
			opacity: 0.4;
			max-height: 0;

			&::after {
				position: absolute;
				content: "";
				height: 100%;
				width: 100%;
				background: linear-gradient(transparent 60%, white);
				top: 0;
				left: 0;
			}
		}

		& div.date {
			font-size: 1.2rem;
		}
	}

	span.category_color {
		position: absolute;
		content: "";
		right: -2rem;
		top: -2rem;
		width: 4rem;
		height: 4rem;
		transform: rotate(45deg);
	}
}

.task__column {
	&.completed {
		row-gap: 0.4rem;
		& .task__tile {
			opacity: 0.25;
		}
	}

	&.current {
		& .task__tile {
			.name {
				font-weight: 600;
			}
			.description {
				opacity: 1;
				max-height: 15rem;

				&::after {
					background: unset;
				}
			}
		}
	}

	&.incomplete {
		& .task__tile .description {
			max-height: 5.2rem;
		}
	}

	&.notes {
		row-gap: 0.8rem;

		& > li {
			display: grid;
			grid-template-columns: auto max-content;
			column-gap: 0.8rem;
			background: white;
			padding: 1.6rem;
			border-radius: 0.4rem;
			box-shadow: var(--elevation-2);
			align-items: center;
			cursor: pointer;
		}

		& .icon {
		}
	}
}

form.note-form {
	li {
		display: flex;
		align-items: center;
		column-gap: 0.8rem;

		& input {
			border: none;
			border-bottom: 1px solid var(--primary);
		}
	}
}

.category-sort__wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 1.6rem;
}

tile-context-menu {
	position: absolute;

	background: var(--primary);
	width: 90%;
	top: 70%;
	z-index: 10;
	border: 2px solid var(--secondary);
	left: 5%;
	color: var(--secondary);

	input:checked + label {
		background: var(--blue100);
	}

	& label {
		padding: 1.6rem;
		width: 100%;
	}

	& input {
		display: none;
	}
}
