.todays-tasks {
	// padding-inline: 1.6rem;

	&__title {
		display: flex;
		column-gap: 0.8rem;
		align-items: center;
		justify-content: space-between;

		& i {
			cursor: pointer;
		}
	}

	form {
		column-count: 2;

		& span {
			height: max-content;
			width: max-content;
			break-inside: avoid;
		}
	}
}
