.content.calendar-view {
	display: grid;
	grid-template-rows: max-content max-content;
	// padding-inline: 3.2rem;
	text-align: center;

	& .page__wrapper {
		grid-template-rows: max-content auto;
		row-gap: unset;
	}
}

.calendar {
	display: grid;
	grid-template-rows: max-content auto;
	row-gap: 1.6rem;
	margin-bottom: 3.2rem;

	& .header {
		display: flex;
		justify-content: space-between;
		background: var(--teal500);
		padding: 1.6rem;
		color: var(--white);
		// border-radius: 0.4rem;

		& a {
			display: flex;
			align-items: center;
			column-gap: 0.8rem;
			color: var(--white);

			& .icon {
				background-color: var(--white);
			}
		}
	}

	.box-content {
		position: relative;
		display: grid;
		grid-template-columns: max-content auto;
		row-gap: 0.8rem;
		padding-inline: 4rem;
		column-gap: 1.6rem;
	}

	ul {
		display: grid;
		grid-auto-rows: 1fr;
		padding: 0;
	}

	.label {
		.title {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	li {
		list-style: none;

		&.end {
			background: var(--transp-black-3);
		}
	}

	.dates {
		grid-template-rows: repeat(7, 1fr);

		li {
			display: none;
			grid-template-columns: max-content auto;
			column-gap: 0.4rem;
			row-gap: 0.4rem;
			text-align: left;
			padding: 0.2rem 0.4rem;
			grid-auto-rows: max-content;
			flex-basis: 14.285%; // 100% /7 days

			&.open {
				display: grid;
			}

			& span.task {
				grid-column: 2;
				padding: 0.2rem;
				border: 1px solid var(--teal500);
				border-radius: 0.8rem;
				cursor: pointer;

				&.completed {
					opacity: 0.3;
				}
				&:hover {
					background: #a9d3cd;
				}
			}

			&.today {
				outline: 2px dotted var(--teal300);
			}

			&.mask {
				background: repeating-linear-gradient(
						45deg,
						var(--grey100) 1px,
						var(--grey100) 2px,
						transparent 2px,
						transparent 20px
					),
					repeating-linear-gradient(
						135deg,
						var(--grey100) 1px,
						var(--grey100) 2px,
						transparent 2px,
						transparent 20px
					);
				opacity: 0.5;
			}
		}
		li:not(:empty) {
			border: 1px solid var(--transp-black-3);
		}
	}

	// Next/previous week buttons
	.week {
		position: absolute;
		background: var(--transp-black-3);
		color: var(--primary);
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		height: 100%;
		left: 0;
		border-bottom-left-radius: 0.8rem;
		border-top-left-radius: 0.8rem;
		text-transform: uppercase;
		letter-spacing: 0.4rem;
		font-weight: 600;
		padding: 0 0.4rem;
		box-shadow: 0 0 16px -6px var(--primary), 0 0 8px -4px var(--teal500);
		cursor: pointer;

		&.next {
			transform: rotate(360deg);
			right: 0;
			left: unset;
		}
	}

	@media (min-width: $medium) {
		& ul {
			grid-template-columns: repeat(7, 1fr);
		}

		& .dates {
			grid-template-rows: unset;
			li {
				display: grid;
			}
		}

		.box-content {
			grid-template-rows: max-content auto;
			grid-template-columns: unset;
		}

		.week {
			display: none;
		}
	}
}
